body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(63, 63, 63);
    width: 100vw;
}

/* Note size for rem usage */

html {
    font-size: 10px;
}

/* Header CSS */

.flexContainer {
    display: flex;
    max-width: 1500px;
    min-height: 65px;
    width: 78.125vw;
    justify-content: space-evenly;
    background-color: slategrey;
    flex-wrap: wrap;
    position: fixed;
}

.flexContainer .coName {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Merienda', cursive;
    font-weight: 700;
    font-size: 4rem;
    color: #fff;
    min-width: 350px;
    width: 25%;
    text-shadow: 2px 2px black;
    padding: 0 2rem 0 2rem;
}

.flexContainer .logo {
    max-width: 325px;
    width: 32.5rem;
}

.navbar {
    width: 25rem;
}

.nav {
    display: flex;
    padding: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 0;
}

.nav li {
    margin-right: 1.5rem;
    list-style: none;
}

.nav li a {
    text-decoration: none;
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: 'Merienda', cursive;
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
    text-shadow: 1.5px 1.5px black;
    transition-property: color;
    transition-duration: 1s;
}

.nav li a:hover {
    color: rgb(79, 86, 94);
}

/* End Header CSS */

/* Start Main CSS */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 78.125vw;
    /* padding put in because header is fixed i.e out of flow */
    padding-top: 6rem; 
}

.background {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background: url('../images/3dcubes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgb(224, 223, 223);
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.15rem;
    width: 77.9vw;
}

.me {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 20%;
}

.me img{
    max-width: 188px;
    height: auto;
    box-shadow: 5px 5px 5px rgb(0, 0, 32);
    border: 2 solid darkgrey;
}

.writing {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80%
}

.meDescription {
    width: 100%;
    padding: 2rem 25%;
}

.listHolder1 {
    width: 50%;
}

.listHolder2 {
    width: 50%;
}

.list1 {
    padding: 0 20%;
}

.list2 {
    padding: 0 20%;
}

.list li {
    padding-bottom: 1rem;
}

.mainDiv2 {
    display: flex;
    width: 78.125vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards a {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Merienda', cursive;
    font-weight: 500;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    text-shadow: 1.5px 1.5px black;
    transition-property: color;
    transition-duration: 1s;
}

.cards a:hover {
    color: rgb(79, 86, 94);
}

.cards {
    display: flex;
    width: 300px;
    height: 150px;
    background-color: slategrey;
    box-shadow: 20px 20px 10px rgb(34, 33, 33);
    margin: 40px 40px 0 0;
    display: flex;
    border: 2px, solid, grey;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.footer{
    margin-top: 3rem;
    height: 50px;
    width: 78.125vw;
    background-color: slategrey;
    border-radius: 5px;
    display:flex;
    align-items: center;
    padding-left: 2rem;
}

.info span{
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    font-size: 1rem;
    font-weight: 400;
}

@media only screen and (max-width: 1500px) {
    .meDescription {
        padding: 10% 10 0 10%;
    }

    .background {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .me{
        padding-top: 2rem;
    }
}

@media only screen and (max-width: 1300px) {
    .flexContainer .logo {
        display: none;
    }
    
    .writing{
        display: flex;
        flex-direction: column;
        padding: 0 5%;
        align-items: center;
    }

    .listHolder1{
        width: 100%;
    }

    .listHolder2{
        width: 100%;
    }

    .meDescription{
        padding: 0;
    }

    .list{
        padding: 0;
    }

}

@media only screen and (max-width: 872px) {
    .flexContainer .coName{
        display: flex;
        justify-content: flex-start;
        font-size: 2.5rem;
    }

    .flexContainer{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .mainDiv2{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}